<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="navbar">...</div>

<div class="wrapper">
    <fieldset>
        <legend>Account details</legend>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" th:value="${currentPlayer.username}" readonly/>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" th:value="${currentPlayer.email}" readonly/>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:value="${currentPlayer.name}"/>
    </fieldset>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"> Currency </th>
            <th scope="col"> Balance </th>
            <th scope="col"> Account ID </th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${playerAccounts.empty}">
            <td colspan="4"> No Accounts Available </td>
        </tr>
        <tr th:each="account : ${playerAccounts}">
            <td><span th:text="${account.currency}"> # </span></td>
            <td><span th:text="${account.balance}"> Event Title </span></td>
            <td>
                <form th:action="@{/deposit}" method="post">
                    <input type="number" name="accountId" th:value="${account.ID}" hidden/>
                    <input type="number" name="deposit" min="0" value="0"/>
                    <button type="submit" class="btn-success">Deposit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>