<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="wrapper">
    <form name="register" th:action="@{/register}" method="post">
        <fieldset>
            <legend>Please fill in your details</legend>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="email">Email</label>
            <input type="text" id="email" name="email"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" name="confirmPassword"/>

            <label for="birthDate">First Name</label>
            <input type="text" id="firstName" name="firstName">
            <label for="birthDate">Last Name</label>
            <input type="text" id="lastName" name="lastName">
            <label for="birthDate">Birthdate</label>
            <input type="date" id="birthDate" name="birthDate">


            <div class="form-actions">
                <button type="submit" class="btn">Create account</button>
            </div>

        </fieldset>
    </form>
</div>
</body>
</html>